<div class="grid">
  <!-- <div class="col-12">
      <div class="card">
          <h2>Realtime Logs <button pButton (click)="toggleLogs()" style="margin-left: 15px;"
                  class="btn btn-secondary">{{showLogs
                  ? 'Hide': 'Show'}}
                  Logs</button>

              <button pButton style="margin-left: 15px;" class="btn btn-secondary" (click)="stopScroll = !stopScroll"
                  *ngIf="showLogs">{{stopScroll ? 'Start' : 'Stop'}} Scrolling</button>
          </h2>

          <div *ngIf="showLogs" id="logs" #scrollContainer>
              <div *ngFor="let log of logs">₿ {{log }}</div>
          </div>
      </div>
  </div> -->

  <div class="col-12">
    <div class="logs-container">
      <div class="logs-header">
        <div class="logs-title-group">
          <span class="logs-icon">📋</span>
          <h2>Realtime Logs</h2>
          <button pButton 
                  (click)="saveLog()"
                  class="p-button-rounded p-button-outlined save-log-btn">
            <span class="button-content">
              <span class="download-icon">💾</span>
              <span>Download</span>
            </span>
          </button>
        </div>
      </div>

      <div id="logs" #scrollContainer>
        <pre *ngFor="let log of logs" class="log-entry" [innerHTML]="log"></pre>
      </div>
    </div>
  </div>


</div>
