<div class="mobile-selector-trigger" 
     [class.has-selection]="hasSelection"
     (click)="onTriggerClick()">
  <span class="trigger-text">{{ displayText }}</span>
  <i [class]="icon" class="trigger-icon"></i>
</div>

<!-- 底部滑出选择器 -->
<app-bottom-sheet-selector
  [(isVisible)]="showBottomSheet"
  [config]="config"
  [selectedValue]="selectedValue"
  [selectedValues]="selectedValues"
  (selectionChange)="onSelectionChange($event)"
  (multiSelectionChange)="onMultiSelectionChange($event)"
  (close)="onBottomSheetClose()">
</app-bottom-sheet-selector>
