
<div class="clock">
  <p>{{ currentDate }} {{ currentTime }}</p>
</div>
<div>
  @if (swarmSummary) {
    <table cellspacing="0" cellpadding="0">
      <tr>
        <th>Total Hash Rate</th>
        <th>Session peak difficulty</th>
        <th>All time peak difficulty</th>
      </tr>
      <tr>
        <td>{{ swarmSummary.HashRate }}</td>
        <td>{{ swarmSummary.BestDiffSession }}</td>
        <td>{{ swarmSummary.BestDiffEver }}</td>
      </tr>
    </table>
  }

  <table cellspacing="0" cellpadding="0">
    <tr>
      <th>#</th>
      <th (click)="sortTable(SortIndex.IP)" class="sortable">IP</th>
      <th (click)="sortTable(SortIndex.BoardType)" class="sortable">Board</th>
      <th (click)="sortTable(SortIndex.HashRate)" class="sortable">Hash Rate</th>
      <th (click)="sortTable(SortIndex.Share)" class="sortable">Share(R/A)</th>
      <th (click)="sortTable(SortIndex.PoolDiff)" class="sortable">Pool Diff</th>
      <th (click)="sortTable(SortIndex.NetDiff)" class="sortable">Net Diff</th>
      <th (click)="sortTable(SortIndex.LastDiff)" class="sortable">Last Diff</th>
      <th (click)="sortTable(SortIndex.BestDiff)" class="sortable">Best Diff</th>
      <th (click)="sortTable(SortIndex.Valid)" class="sortable">Valid</th>
      <th (click)="sortTable(SortIndex.Power)" class="sortable">Power</th>
      <th (click)="sortTable(SortIndex.Temp)" class="sortable">Temp</th>
      <th (click)="sortTable(SortIndex.RSSI)" class="sortable">RSSI</th>
      <th (click)="sortTable(SortIndex.FreeHeap)" class="sortable">Free Heap</th>
      <th (click)="sortTable(SortIndex.Version)" class="sortable">Version</th>
      <th (click)="sortTable(SortIndex.UpTime)" class="sortable">Uptime</th>
      <th (click)="sortTable(SortIndex.LastSeen)" class="sortable">Last Seen</th>
      <!-- <th>Edit</th> -->
      <th>Restart</th>
      <!-- <th>Remove</th> -->
    </tr>
    <!-- <ng-container *ngFor="let axeOs$ of swarm">
        <tr *ngIf="axeOs$ | async as axe"> -->
    <!-- <ng-container *ngFor="let axe of swarmData">         -->
    <tr *ngFor="let axe of swarmData; let i = index">
      <td>{{ i + 1 }}</td>
      <td><a [href]="'http://'+axe.ip" target="_blank">{{ axe.ip }}</a></td>
      <td class="boardtype-column">{{ axe.BoardType }}</td>
      <td>{{ axe.HashRate }}</td>
      <td>{{ axe.Share }}</td>
      <td>{{ axe.PoolDiff }}</td>
      <td>{{ axe.NetDiff }}</td>
      <td>{{ axe.LastDiff }}</td>
      <td>{{ axe.BestDiff }}</td>
      <td>{{ axe.Valid }}</td>
      <td>{{ axe.Power }}</td>
      <td class="common-column">{{ axe.Temp | number: '1.1-1' }} <small>℃</small></td>
      <td class="common-column">{{ axe.RSSI }} <small>dBm</small></td>
      <td class="common-column">{{ axe.FreeHeap | number: '1.1-1' }} <small>KB</small></td>
      <td>{{ axe.Version }}</td>
      <td class="uptime-column">{{ axe.Uptime }}</td>
      <td class="lastseen-column">{{ axe.Lastseen | dateAgo }}</td>
      <td>
        <p-button icon="pi pi-sync" pp-button severity="danger" (click)="restart(axe)"></p-button>
      </td>
      <!-- <td><p-button icon="pi pi-trash" pp-button severity="secondary" (click)="remove(axe)"></p-button></td> -->
    </tr>
    <!-- </ng-container> -->
  </table>
</div>

<div class="modal-backdrop" *ngIf="showEdit" (click)="showEdit = false"></div>
<div class="modal card" *ngIf="showEdit">
  <div class="close" (click)="showEdit = false">&#10006;</div>
  <h1>{{ selectedAxeOs.ip }}</h1>
  <app-edit [uri]="'http://' + selectedAxeOs.ip"></app-edit>
</div>